<!doctype html>
<html lang="en">
  {% load static %} 
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>Weather App</title>
    
    <!-- CSS -->
    <style>
        body{
            background-image: url( "{% static 'images/back_ground.jpeg' %}");
        }   
    </style>
  
  </head>
  
  <body> 
    
    <div class="row">
       <!-- Colomn-1 -->
       <div class="col-sm-4"></div>
      
       <!-- Colomn-2 -->
       <div class="col-sm-4">
            <div style="margin-left: 3%; padding-top: 8%;">
                <b>{% now "jS F Y" %}</b> <br><br>
                <h1>Weather App in Django</h1>
                <h3><b>Know the weather of any City/Country.</b></h3><br>

            <!-- Form for entering city name -->
            <form action="" method="post">
                {% csrf_token %}
                <input type="text" name="city" placeholder="Enter City">
                <button type="submit" class="btn btn-dark">Submit</button>
            </form>
                        
          
          <img src="http://openweathermap.org/img/w/{{ icon }}.png" width="100px" height="100px" alt="Image">
    
          <b style="font-size: large;">{{ description }}</b>
          <br>
          <p style="font-size: large;">
            <span class="title"> <b>City :</b> {{ city }}</span>
            <br>
            <span class="subtitle"><b>Temperature :</b> {{ temperature }}°C</span>
            <br>
            <span class="title"><b>Humidity :</b> {{ humidity }}%</span>
            <br>
            <!-- <span class="title"><b>Wind Speed :</b> {{ speed }}Km/h</span><br>-->
          </p>
          </div>  
          <p style="padding-top: 15%; text-align: center;"> Made with <img src="{% static 'images/heart.png' %}" alt="heart" width="25px" height="25px"> by Rohit Chaudhary</p>
      </div>
      <!-- Colomn-3 -->
      <div class="col-sm-4" style="text-align: center;">

      </div>
    </div>
    

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
    -->
  
  </body>
</html>